@media only screen and (max-width: 768px) {
  #mediaToggle {
    display: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.text-light {
  text-shadow: 1px 1px black;
}

.fa {
  font-size: 64;
  color: var(--info);
}
.card:hover {
  background-color: #d7f1d7;
}
